In [39]:
import pandas as pd

In [44]:
data = pd.read_csv("data.dat", sep='\t', header=None)
data_nicollini = pd.read_csv("data_nicolini.dat", sep='\t', header=None)
data_3 = pd.read_csv("data3.dat", sep='\t', header=None)

In [63]:
lista = [data, data_nicollini, data_nicollini]

In [64]:
df = None
if len(lista) > 1:
    for i in range(len(lista)-1):
        if df is None:
            df = pd.concat([lista[i], lista[i+1]], ignore_index=True)
        else:
            df = pd.concat([df, lista[i+1]], ignore_index=True)

df.head()

    0                    1  2  3  4  5
0   2  2022-03-14 13:04:37  1  0  1  0
1   2  2022-03-15 12:00:17  1  0  1  0
2  13  2022-03-15 12:56:57  1  0  1  0
3   6  2022-03-15 18:43:52  1  0  1  0
4   1  2022-03-15 18:43:58  1  0  1  0

In [65]:
df.__len__()

2357

In [66]:
type(df)

pandas.core.frame.DataFrame

In [49]:
data_nicollini.__len__()

32

In [50]:
data.__len__()

2293

In [56]:
2293+32*2

2357